
#rec263773158 .t-menu__link-item
            { 
                -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out; 
                transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out; position: relative;	
            }

            #rec263773158 .t-menu__link-item::after 
            { 
                content: ''; 
                position: absolute; 
                left: 0;	
                bottom: 20%;	
                opacity: 0;	
                width: 100%;	
                height: 100%;	
                border-bottom: px solid ; 
                -webkit-box-shadow: inset 0px -px 0px 0px ; 
                -moz-box-shadow: inset 0px -px 0px 0px ; 
                box-shadow: inset 0px -px 0px 0px ; 
                -webkit-transition: all 0.3s ease; 
                transition: all 0.3s ease;
            }

            #rec263773158 .t-menu__link-item.t-active
            {
                 color:#ff5500 !important; 
            }
                
            #rec263773158 .t-menu__link-item.t-active::after 
            {
                opacity: 1;
                bottom: -1px;
                border-bottom: 1px solid #ff5500;
                -webkit-box-shadow: inset 0px -1px 0px 0px #ff5500;
                -moz-box-shadow: inset 0px -1px 0px 0px #ff5500;
                box-shadow: inset 0px -1px 0px 0px #ff5500;
            }

            #rec263773158 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover
            { 
                color: #ff5500 !important; 
            }

            @supports (overflow:-webkit-marquee) and (justify-content:inherit)
            { 
                #rec263773158 .t-menu__link-item, #rec263773158 .t-menu__link-item.t-active 
                { 
                    opacity: 1 !important; 
                }
            }

            @media screen and (max-width: 980px) 
        {
             #rec263773158 .t-menusub__menu .t-menusub__link-item 
             {
                  color:#ffffff !important; 
             } 
             
             #rec263773158 .t-menusub__menu .t-menusub__link-item.t-active 
             {
                  color:#ffffff !important; 
             }

        }

        #rec263716854 .t396__artboard {
            height: 1097px;
            background-color: #121212;
        }

        #rec263716854 .t396__filter {
            height: 1097px;
        }

        #rec263716854 .t396__carrier {
            height: 1097px;
            background-position: center center;
            background-attachment: scroll;
            background-size: cover;
            background-repeat: no-repeat;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .t396__artboard {
                height: 980px;
                background-color: #ffffff;
            }

            #rec263716854 .t396__filter {
                height: 980px;
            }

            #rec263716854 .t396__carrier {
                height: 980px;
                background-position: center center;
                background-attachment: scroll;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .t396__artboard {
                height: 1475px;
            }

            #rec263716854 .t396__filter {
                height: 1475px;
            }

            #rec263716854 .t396__carrier {
                height: 1475px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .t396__artboard {
                height: 1115px;
            }

            #rec263716854 .t396__filter {
                height: 1115px;
            }

            #rec263716854 .t396__carrier {
                height: 1115px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .t396__artboard {
                height: 2075px;
            }

            #rec263716854 .t396__filter {
                height: 2075px;
            }

            #rec263716854 .t396__carrier {
                height: 2075px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1594968034182"] {
            color: #ffffff;
            text-align: center;
            z-index: 1;
            top: 80px;
            left: calc(50% - 600px + 20px);
            width: 1160px;
        }

        #rec263716854 .tn-elem[data-elem-id="1594968034182"] .tn-atom {
            color: #ffffff;
            font-size: 42px;
            font-family: 'Playfair Display', serif;
            line-height: 1.55;
            font-weight: 600;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1594968034182"] {
                top: 131px;
                left: calc(50% - 480px + 10px);
                width: 940px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968034182"] .tn-atom {
                font-size: 38px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1594968034182"] {
                top: 144px;
                left: calc(50% - 320px + 10px);
                width: 620px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1594968034182"] {
                top: 115px;
                left: calc(50% - 240px + 10px);
                width: 460px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968034182"] .tn-atom {
                font-size: 30px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1594968034182"] {
                top: 122px;
                left: calc(50% - 160px + 10px);
                width: 300px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968034182"] .tn-atom {
                line-height: 1.3;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113351"] {
            z-index: 2;
            top: 187px;
            left: calc(50% - 600px + 200px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113351"] .tn-atom {
            background-color: #ebebeb;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113351"] {
                top: 345px;
                left: calc(50% - 480px + 10px);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113351"] {
                top: 352px;
                left: calc(50% - 320px + 10px);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113351"] {
                top: 302px;
                left: calc(50% - 240px + 10px);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113351"] {
                top: 353px;
                left: calc(50% - 160px + 10px);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113385"] {
            color: #ffffff;
            z-index: 4;
            top: 207px;
            left: calc(50% - 600px + 459px);
            width: 110px;
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113385"] .tn-atom {
            color: #ffffff;
            font-size: 26px;
            font-family: 'FuturaPT', Arial, sans-serif;
            line-height: 1.3;
            font-weight: 500;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113385"] {
                top: 536px;
                left: calc(50% - 480px + 30px);
                width: 270px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113385"] {
                top: 537px;
                left: calc(50% - 320px + 40px);
                width: 240px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968113385"] .tn-atom {
                line-height: 1.35;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113385"] {
                top: 424px;
                left: calc(50% - 240px + 30px);
                width: 180px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968113385"] .tn-atom {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113385"] {
                top: 544px;
                left: calc(50% - 160px + 35px);
                width: 250px;
            }

            #rec263716854 .tn-elem[data-elem-id="1594968113385"] .tn-atom {
                line-height: 1.35;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113421"] {
            z-index: 3;
            top: 187px;
            left: calc(50% - 600px + 200px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1594968113421"] .tn-atom {
            border-width: 2px;
            border-radius: 15px;
            opacity: 0.4;
            background-color: #000000;
            background-position: center center;
            border-color: #ff5500;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113421"] {
                top: 345px;
                left: calc(50% - 480px + 10px);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113421"] {
                top: 352px;
                left: calc(50% - 320px + 10px);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113421"] {
                top: 302px;
                left: calc(50% - 240px + 10px);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1594968113421"] {
                top: 353px;
                left: calc(50% - 160px + 10px);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562041053"] {
            z-index: 6;
            top: 187px;
            left: calc(50% - 600px + 622px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562041053"] .tn-atom {
            background-color: #ebebeb;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041053"] {
                top: 355pxpx;
                left: calc(50% - 480px + 20pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041053"] {
                top: 362pxpx;
                left: calc(50% - 320px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041053"] {
                top: 312pxpx;
                left: calc(50% - 240px + 20pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041053"] {
                top: 363pxpx;
                left: calc(50% - 160px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562041062"] {
            z-index: 7;
            top: 187px;
            left: calc(50% - 600px + 622px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562041062"] .tn-atom {
            border-width: 2px;
            border-radius: 15px;
            opacity: 0.4;
            background-color: #000000;
            background-position: center center;
            border-color: #ff5500;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041062"] {
                top: 355pxpx;
                left: calc(50% - 480px + 20pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041062"] {
                top: 362pxpx;
                left: calc(50% - 320px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041062"] {
                top: 312pxpx;
                left: calc(50% - 240px + 20pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562041062"] {
                top: 363pxpx;
                left: calc(50% - 160px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562114288"] {
            color: #ffffff;
            z-index: 8;
            top: 207px;
            left: calc(50% - 600px + 640px);
            width: 59px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562114288"] .tn-atom {
            color: #ffffff;
            font-size: 26px;
            font-family: 'FuturaPT', Arial, sans-serif;
            line-height: 1.3;
            font-weight: 500;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562114288"] {
                top: 546pxpx;
                left: calc(50% - 480px + 40pxpx);
                width: 270px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562114288"] {
                top: 547pxpx;
                left: calc(50% - 320px + 50pxpx);
                width: 240px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562114288"] .tn-atom {
                line-height: 1.35;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562114288"] {
                top: 434pxpx;
                left: calc(50% - 240px + 40pxpx);
                width: 180px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562114288"] .tn-atom {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562114288"] {
                top: 554pxpx;
                left: calc(50% - 160px + 45pxpx);
                width: 250px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562114288"] .tn-atom {
                line-height: 1.35;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178152"] {
            z-index: 10;
            top: 607px;
            left: calc(50% - 600px + 201px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178152"] .tn-atom {
            background-color: #ebebeb;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178152"] {
                top: 355pxpx;
                left: calc(50% - 480px + 20pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178152"] {
                top: 362pxpx;
                left: calc(50% - 320px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178152"] {
                top: 312pxpx;
                left: calc(50% - 240px + 20pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178152"] {
                top: 363pxpx;
                left: calc(50% - 160px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178161"] {
            color: #ffffff;
            z-index: 12;
            top: 627px;
            left: calc(50% - 600px + 470px);
            width: 90px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178161"] .tn-atom {
            color: #ffffff;
            font-size: 26px;
            font-family: 'FuturaPT', Arial, sans-serif;
            line-height: 1.3;
            font-weight: 500;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178161"] {
                top: 546pxpx;
                left: calc(50% - 480px + 40pxpx);
                width: 270px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178161"] {
                top: 547pxpx;
                left: calc(50% - 320px + 50pxpx);
                width: 240px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562178161"] .tn-atom {
                line-height: 1.35;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178161"] {
                top: 434pxpx;
                left: calc(50% - 240px + 40pxpx);
                width: 180px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562178161"] .tn-atom {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178161"] {
                top: 554pxpx;
                left: calc(50% - 160px + 45pxpx);
                width: 250px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562178161"] .tn-atom {
                line-height: 1.35;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178170"] {
            z-index: 11;
            top: 607px;
            left: calc(50% - 600px + 201px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562178170"] .tn-atom {
            border-width: 2px;
            border-radius: 15px;
            opacity: 0.4;
            background-color: #000000;
            background-position: center center;
            border-color: #ff5500;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178170"] {
                top: 355pxpx;
                left: calc(50% - 480px + 20pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178170"] {
                top: 362pxpx;
                left: calc(50% - 320px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178170"] {
                top: 312pxpx;
                left: calc(50% - 240px + 20pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562178170"] {
                top: 363pxpx;
                left: calc(50% - 160px + 20pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204321"] {
            z-index: 14;
            top: 606px;
            left: calc(50% - 600px + 622px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204321"] .tn-atom {
            background-color: #ebebeb;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204321"] {
                top: 365pxpx;
                left: calc(50% - 480px + 30pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204321"] {
                top: 372pxpx;
                left: calc(50% - 320px + 30pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204321"] {
                top: 322pxpx;
                left: calc(50% - 240px + 30pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204321"] {
                top: 373pxpx;
                left: calc(50% - 160px + 30pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204330"] {
            color: #ffffff;
            z-index: 17;
            top: 626px;
            left: calc(50% - 600px + 641px);
            width: 90px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204330"] .tn-atom {
            color: #ffffff;
            font-size: 26px;
            font-family: 'FuturaPT', Arial, sans-serif;
            line-height: 1.3;
            font-weight: 500;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204330"] {
                top: 556pxpx;
                left: calc(50% - 480px + 50pxpx);
                width: 270px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204330"] {
                top: 557pxpx;
                left: calc(50% - 320px + 60pxpx);
                width: 240px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562204330"] .tn-atom {
                line-height: 1.35;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204330"] {
                top: 444pxpx;
                left: calc(50% - 240px + 50pxpx);
                width: 180px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562204330"] .tn-atom {
                font-size: 20px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204330"] {
                top: 564pxpx;
                left: calc(50% - 160px + 55pxpx);
                width: 250px;
            }

            #rec263716854 .tn-elem[data-elem-id="1608562204330"] .tn-atom {
                line-height: 1.35;
            }
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204341"] {
            z-index: 15;
            top: 606px;
            left: calc(50% - 600px + 622px);
            width: 380px;
            height: 380px;
        }

        #rec263716854 .tn-elem[data-elem-id="1608562204341"] .tn-atom {
            border-width: 2px;
            border-radius: 15px;
            opacity: 0.4;
            background-color: #000000;
            background-position: center center;
            border-color: #ff5500;
            border-style: solid;
        }

        @media screen and (max-width: 1199px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204341"] {
                top: 365pxpx;
                left: calc(50% - 480px + 30pxpx);
                width: 310px;
                height: 306px;
            }
        }

        @media screen and (max-width: 959px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204341"] {
                top: 372pxpx;
                left: calc(50% - 320px + 30pxpx);
                width: 300px;
                height: 300px;
            }
        }

        @media screen and (max-width: 639px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204341"] {
                top: 322pxpx;
                left: calc(50% - 240px + 30pxpx);
                width: 220px;
                height: 220px;
            }
        }

        @media screen and (max-width: 479px) {
            #rec263716854 .tn-elem[data-elem-id="1608562204341"] {
                top: 373pxpx;
                left: calc(50% - 160px + 30pxpx);
                width: 300px;
                height: 300px;
            }
        }

        #rec263737391 input::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 input::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 input:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 input:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 textarea::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 textarea::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 textarea:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737391 textarea:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263737730 .t-slds__bullet_active .t-slds__bullet_body {
            background-color: #222 !important;
        }

        #rec263737730 .t-slds__bullet:hover .t-slds__bullet_body {
            background-color: #222 !important;
        }

        #rec263749087 .t-slds__bullet_active .t-slds__bullet_body {
            background-color: #222 !important;
        }

        #rec263749087 .t-slds__bullet:hover .t-slds__bullet_body {
            background-color: #222 !important;
        }

        #rec263752109 .t410 .jx-controller {
            background-color: #ffffff;
        }

        #rec263752109 .t410 .jx-control {
            background-color: #ffffff;
        }

        #rec263752109 .t410 .jx-arrow.jx-right {
            border-color: transparent transparent transparent #ffffff;
        }

        #rec263752109 .t410 .jx-arrow.jx-left {
            border-color: transparent #ffffff transparent transparent;
        }

        #rec263754925 .t-btn:not(.t-animate_no-hover):hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.003) !important;
        }

        #rec263754925 .t-btn:not(.t-animate_no-hover) {
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }

        #rec263765459 input::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 input::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 input:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 input:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 textarea::-webkit-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 textarea::-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 textarea:-moz-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 textarea:-ms-input-placeholder {
            color: #000000;
            opacity: 0.5;
        }

        #rec263765459 .t-btn[data-btneffects-first],
        #rec263765459 .t-btn[data-btneffects-second],
        #rec263765459 .t-submit[data-btneffects-first],
        #rec263765459 .t-submit[data-btneffects-second] {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
